package-lock.json
_site
assets/css/just-the-docs-default.scss
assets/css/just-the-docs-light.scss
assets/css/just-the-docs-dark.scss
assets/js/vendor/lunr.min.js
assets/js/search-data.json
assets/js/zzzz-search-data.json
assets/js/just-the-docs.js
*.md
!v1.3/resources.md
!v1.3/task-owner/index.md
!_blog/**/*.md
!_news/**/*.md
!CONTENT_GUIDE.md
_includes/mermaid_config.js
